# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
.idea/
# Log files
*.log
*.out
*.err
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
AFfine/Af_params/
tmp*/
netMHC*/
output*/
pandora.yml
affine.yml
/ProteinMPNN/
ProteinMPNN/
ProteinMPNN/*
ProteinMPNN/examples
ProteinMPNN/outputs
ProteinMPNN/.gitignore
AFfine/af_params/
AFfine/af_params.zip
PANDORA/test/
*.png
/analysis.py
/env_backup.txt
*.pdb
temp*
/netmhcpans.zip
/netMHCIIpan-4.3f.Linux.tar.gz
/test2.csv
/test2.tsv
/tmp.py
/AFfine1.zip
proteinmpnn_test_binder_nonbinder*/
proteinmpnn_test_binder_nonbinder/
/initial_guess_benchmark/
/neoantigen/
parsefold_affine/
predictions/

