absl-py==1.0.0
chex==0.0.7
dm-haiku==0.0.5
dm-tree==0.1.8
flatbuffers==2.0.7
jax==0.2.22
jaxlib==0.1.75+cuda11.cudnn805
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jmp==0.0.4
joblib==1.4.2
optax==0.0.9
pdb2sql==0.5.3
protobuf==3.20.1
tabulate==0.9.0
toolz==1.0.0
torch==1.10.1
typing-extensions==3.7.4.3
urllib3==1.26.14
Levenshtein==0.27.1
tqdm==4.67.1
pyarrow==19.0.1